@import url('https://api.fontshare.com/v2/css?f[]=clash-display@400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@layer utilities {
  .text-shadow-sm {
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
  }
}

@theme {
  --font-space: 'Space Grotesk', sans-serif;
  --font-clash: 'Clash Display', sans-serif;
  --font-mono-space: 'Space Mono', monospace;
}

/* Base */
body {
  background-color: #F5F5F5;
  color: #000;
}

/* Utilities */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

.text-sui-gradient {
  background: linear-gradient(135deg, #3D5DD9 0%, #00D1FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.stop1 {
  stop-color: #00D1FF;
  stop-opacity: 1;
}

.stop2 {
  stop-color: #3D5DD9;
  stop-opacity: 1;
}
